<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @support.first_name %></h1>
<p>
  <%= @user.first_name %>  <%= @user.last_name %> just created ticket <%= @ticket.id %> and you've been assigned to it.
</p>
</body>
</html>